CompileFlags:
  Add: [
    -I/workspaces/godot_touch_actions_mod/**,
    -I/workspaces/godot_touch_actions_mod/core,
    -I/workspaces/godot_touch_actions_mod/editor,
    -I/workspaces/godot_touch_actions_mod/scene,
  ]

